.main{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container{
  max-width: 1140px !important;
}

.spacer{
  padding:120px 0px 150px;

  @media(max-width:1023px){
    padding:50px 25px;
  }
}

.subTitle{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}


@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.about{
  color:#000;
}